/*
Copyright d/Dev 2024...if you are copying this then you are not doing yourself any favors though.
*/

body {
  background-color: black;
  background-image: url(img/bg-blue-purple-gradient.png);
  background-size: cover;
}

/* Body Text */
body
{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/* Links */
a
{
    color: dodgerblue;
}

/* Header 1 */
h1
{
    color: darkorchid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* Class for centering elements */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}