---
---

@import "reset";
@import "main";

.default_title {
	background: #6F0CBB;
}
.post_title {
	background: #6F0CBB;
}

code {
	font-family: monospace;
	background-color: #C91BFE;
	padding: 0 .15em;
}
